doctype html
html(lang='en')
  head
    title Pelefánt
    link(rel='stylesheet' type='text/css' href='css/style.css')
    link(rel='stylesheet' type='text/css' href='css/new-message.css')
    link(rel='stylesheet' type='text/css' href='css/messages.css')
    link(rel='stylesheet' type='text/css' href='css/cards.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    div(class='header')
      img#header-logo(class='header-logos' src='images/pelefant.svg')
      h1#header-title Ez itt a Pelefánt! &lt;3
      a#header-logo-container(class='header-logos' href='https://github.com/gergooo/pelefant-web-app' target='_blank')
        img#github-logo(class='header-logos' src='images/GitHub-Mark-64px.png')

    div(class='main-container')
      div#new-message-container
        div#new-message(class='card')
          h2#new-message-title Üzenj valamit :3

          form(class='new-message-form' action='/send' method='post')
            div#radio-group
              input(class='animal-radio' type='radio', id='elefant', name='sender', value='Elefánt', required)
              label(class='animal-label' for='elefant')
                img(class='header-logos' src='images/elefant.svg' alt='Elefánt' title='Elefánt')
              input(class='animal-radio' type='radio', id='pele', name='sender', value='Pele', required)
              label(class='animal-label' for='pele')
                img(class='header-logos' src='images/pele.svg' alt='Pele' title='Pele')

            div#text-input-group
              textarea(class='text-input' type='text', name='text', required)
              button(class='send-button' type='submit') Küldés

      div#messages
        div#message-title-card(class='card inflatable pressable')
          h2#message-title Üzenetek
          p#message-count(class="visible-on-hover") #{messages.length} db
        each message in messages
          div(class='message card inflatable pressable')
            img(class='message-sender' src='images/' + message.sender.toLowerCase().replace(/á/,'a') + '.svg')
            div(class='message-body')
              div(class='message-timestamp visible-on-hover') #{message.timestamp.getTime()}
              div(class='message-text') #{message.text}

    script(src='js/hide-new-message-card.js')
    script(src='js/load-messages.js')
