doctype html
html(lang="en")
  head
    title Pelefánt
  body
    h1 Ez itt a Pelefánt! &lt;3
  
    p Üzenj valamit :3
  
    p Küldi:
    form(action='/send' method='post')
      input(type='radio', id='elefant', name='sender', value='Elefánt', required)
      label(for='elefant') Elefánt
      input(type='radio', id='pele', name='sender', value='Pele', required)
      label(for='pele') Pele
  
      input(type='text' name='text', required)
      button(type='submit') Küldés
  
    h2 Üzenetek
    p (#{messages.length} db)
  
    each message in messages
      p
        b #{message.sender} (#{message.timestamp.toLocaleString()}):
      p #{message.text}
