doctype html
html(lang='en')
  head
    title Pelefánt
    link(rel='stylesheet' type='text/css' href='css/style.css')
    link(rel='stylesheet' type='text/css' href='css/cards.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    div(class='header')
      img#header-logo(class='header-logos' src='images/pelefant.svg')
      h1#header-title Ez itt a Pelefánt! &lt;3
      a#header-logo-container(class='header-logos' href='https://github.com/gergooo/pelefant-web-app' target='_blank')
        img#github-logo(class='header-logos' src='images/GitHub-Mark-64px.png')

    div(class='container')
      div#sender(class='card inflatable')
        div
          h2 Üzenj valamit :3

          form(action='/send' method='post')
            label Feladó:
            input(type='radio', id='elefant', name='sender', value='Elefánt', required)
            label(for='elefant') Elefánt
            input(type='radio', id='pele', name='sender', value='Pele', required)
            label(for='pele') Pele
            br
            input(type='text', name='text', required)
            button(type='submit') Küldés

      div#messages
        div#message-title-card(class='card inflatable pressable')
          h2#message-title Üzenetek
          p#message-count(class="visible-on-hover") #{messages.length} db
        each message in messages
          div(class='message card inflatable pressable')
            img(class='message-sender' src='images/' + message.sender.toLowerCase().replace(/á/,'a') + '.svg')
            div(class='message-body')
              div(class='message-timestamp visible-on-hover') #{message.timestamp.getTime()}
              div(class='message-text') #{message.text}

    script(src='js/time-converter.js')
    script(src='js/hide-sender.js')
