doctype html
html(lang='en')
  head
    title Pelefánt
    link(rel='stylesheet' type='text/css' href='css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    h1(class='header') Ez itt a Pelefánt! &lt;3
    div(class='container')
      div#sender(class='card inflatable')
        div
          h2 Üzenj valamit :3

          form(action='/send' method='post')
            label Feladó:
            input(type='radio', id='elefant', name='sender', value='Elefánt', required)
            label(for='elefant') Elefánt
            input(type='radio', id='pele', name='sender', value='Pele', required)
            label(for='pele') Pele
            br
            input(type='text', name='text', required)
            button(type='submit') Küldés

      div#messages
        div#message-title-card(class='card inflatable pressable')
          h2#message-title Üzenetek
          p#message-count #{messages.length} db
        each message in messages
          div(class='message card inflatable pressable')
            div(class='message-header')
              div(class='message-sender') #{message.sender}
              div(class='message-timestamp') #{message.timestamp.getTime()}
            div(class='message-text') #{message.text}

    script(src='js/time-converter.js')
    script(src='js/hide-sender.js')
