#messages {
    font-family: 'Montserrat';
}

#messages {
    height: calc(100vh - 80px);
    width: 600px;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-bottom: 0px;
    padding-right: 10px;
}

#message-title-card {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#message-title {
    width: 60%;
}

#message-count {
    width: 20%;
    text-align: right;
    color: grey;
}

.message {
    display: flex;
}

.message-sender {
    font-weight: bold;
    width: 64px;
    height: 64px;
    margin: 5px;
}

.message-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.message-timestamp {
    color: grey;
    transition-duration: 30ms;
    align-self: flex-end;
}

.message-text {
    padding: 10px;
    text-align: left;
    flex-grow: 1;
}

@media only screen and (max-width: 850px) {
    #messages {
        height: auto;
        max-width: 100vw;
        width: 100vw;
        padding-right: 0px;
        padding-top: 200px;
    }
}