/* Messages container */

:root {
    --message-container-height: calc(100vh - 80px);
    --message-container-width: 600px;
    --message-container-side-padding: 10px;
    --message-container-top-padding: 0px;
}

@media only screen and (max-width: 850px) {
    :root {
        --message-container-height: auto;
        --message-container-width: 100vw;
        --message-container-side-padding: 0px;
        --message-container-top-padding: calc(var(--new-message-height) + var(--card-margin));
    }
}

#messages {
    height: var(--message-container-height);
    width: var(--message-container-width);
    overflow-y: scroll;
    scrollbar-width: none;
    margin-bottom: 0px;
    padding-left: var(--message-container-side-padding);
    padding-right: var(--message-container-side-padding);
    padding-top: var(--message-container-top-padding);
}

/* Messages title card */

#message-title-card {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#message-title {
    width: 60%;
}

#message-count {
    width: 20%;
    text-align: right;
    color: grey;
}

/* Message cards */

.message {
    display: flex;
}

.message-sender {
    width: 64px;
    height: 64px;
    margin: 5px;
}

.message-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.message-timestamp {
    color: grey;
    transition-duration: 30ms;
    align-self: flex-end;
}

.message-text {
    text-align: left;
    padding: 10px;
    flex-grow: 1;
}