:root {
    --new-message-height: 400px;
    --new-message-width: 600px;
    --new-message-position: static;
    --new-message-form-order: column;
}

@media only screen and (max-width: 850px) {
    :root {
        --new-message-height: 250px;
        --new-message-width: 100vw;
        --new-message-position: fixed;
        --new-message-form-order: column-reverse;
    }
}

#new-message-container {
    width: var(--new-message-width);
    position: var(--new-message-position);
    transition-duration: 300ms;
    z-index: 1;
}

#new-message {
    height: calc(var(--new-message-height) - 2 * var(--card-padding));
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.new-message-form {
    display: flex;
    flex-direction: var(--new-message-form-order);
    flex-wrap: wrap;
    justify-content: center;
}

/* Sender selection */

.animal-radio {
    display: none;
}

.animal-label {
    width: max-content;
    padding: 10px;
    margin: 5px;
    display: block;
    float: left;
    transition-duration: 150ms;
}

.animal-label:hover {
    background-color: var(--highlight-color);
}

.animal-radio:checked+.animal-label {
    background-color: var(--highlight-color);
}

#radio-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Text input */

#text-input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.text-input {
    font-family: inherit;
    font-size: inherit;
    resize: none;
    width: calc(100% - 6px);
    height: 80px;
}

.send-button {
    font-family: 'Amatic SC';
    font-size: 1.5em;
    background-color: var(--foreground-color);
    border: hidden;
}

.send-button:hover {
    background-color: var(--highlight-color);
}

/* Shake */

@keyframes shake {
    from, to {
        transform: translate3d(0, 0, 0);
    }
    20%, 60% {
        transform: translate3d(-5px, 0, 0);
    }
    40%, 80% {
        transform: translate3d(5px, 0, 0);
    }
}

.shake {
    animation-name: shake;
    animation-duration: 0.5s;
}