:root {
    --new-message-height: 400px;
    --new-message-width: 600px;
    --new-message-position: static;
}

@media only screen and (max-width: 850px) {
    :root {
        --new-message-height: 200px;
        --new-message-width: 100vw;
        --new-message-position: fixed;
    }
}

#new-message-container {
    width: var(--new-message-width);
    position: var(--new-message-position);
    transition-duration: 300ms;
    z-index: 1;
}

#new-message {
    height: calc(var(--new-message-height) - 2 * var(--card-padding));
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Sender selection */

.animal-radio {
    display: none;
}

.animal-label {
    width: max-content;
    padding: 10px;
    display: block;
    float: left;
    transition-duration: 150ms;
}

.animal-label:hover {
    background-color: var(--highlight-color);
}

.animal-radio:checked+.animal-label {
    background-color: var(--highlight-color);
}

/* Text input */

form {
    margin: 10px;
}

label {
    margin: 10px 10px 10px 0px;
}

input {
    margin: 10px 5px;
}