@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Montserrat|Oswald|Pacifico|Roboto+Slab&display=swap');
body {
    margin: 0;
    text-align: center;
    padding-top: 80px;
    background-color: #f2f2f2;
    color: #2f2f2f;
}

.header {
    background-color: #FFFFFF;
    width: calc(100% - 40px);
    box-shadow: 0px 2px 15px -5px rgba(142, 129, 122, 1);
    -webkit-box-shadow: 0px 2px 15px -5px rgb(142, 129, 122);
    position: fixed;
    top: 0;
    height: 80px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.header-logos {
    height: 64px;
    width: 64px;
}

#sender, #messages {
    font-family: 'Montserrat';
}

#sender {
    padding: 20px;
    height: 50vh;
    width: 50%;
    min-height: 200px;
    max-height: 600px;
    max-width: 600px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#messages {
    height: calc(100vh - 80px);
    max-width: 600px;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-bottom: 0px;
    padding-right: 10px;
}

h1, h2 {
    font-family: 'Amatic SC';
    font-size: 3em;
    margin: 0px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.card {
    padding: 10px;
    margin: 15px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 15px -5px rgba(142, 129, 122, 1);
    -webkit-box-shadow: 2px 2px 15px -5px rgb(142, 129, 122);
}

.inflatable:hover {
    background-color: #e9ffb9;
    transform: scale(1.02, 1.02);
    box-shadow: 6px 6px 15px -5px rgba(142, 129, 122, 1);
    transition-duration: 100ms;
}

.pressable:active {
    transform: scale(0.98, 0.98);
    box-shadow: 0px 0px 15px -5px rgba(142, 129, 122, 1);
    transition-duration: 10ms;
}

form {
    margin: 10px;
}

label {
    margin: 10px 10px 10px 0px;
}

input {
    margin: 10px 5px;
}

#message-title-card {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#message-title {
    width: 60%;
}

#message-count{
    width: 20%;
    text-align: right;
    color: grey;
    opacity: 0;
}

.card:hover #message-count {
    opacity: 1;
}

.message-header {
    display: flex;
    justify-content: space-between;
}

.message-sender {
    font-weight: bold;
}

.message-timestamp {
    color: grey;
    opacity:  0;
    transition-duration: 30ms;
}

.card:hover .message-timestamp {
    opacity: 1;
}

.message-text {
    padding: 10px;
    text-align: left;
}

@media only screen and (max-width: 850px) {
    .container {
        display: block;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    #messages {
        height: auto;
        max-width: 100vw;
        width: 100vw;
        padding-right: 0px;
        padding-top: 200px;
    }
    #sender {
        width: calc(100vw - 40px - 30px);
        max-width: 100vw;
        max-height: 150px;
        min-height: 0px;
        position: fixed;
        transition-duration: 300ms;
    }
    .message-timestamp {
        opacity: 1;
    }
    #message-count {
        opacity: 1;
    }
    
    h1, h2 {
        font-size-adjust: 0.4;
    }
    
    .header {
        height: 60px;
    }
    
    body {
        padding-top: 60px;
    }
    
    .header-logos {
        width: 32px;
        height: 32px;
    }
}