@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Montserrat&display=swap');
:root {
    --header-height: 80px;
    --body-top-padding: 80px;
    --header-font-size: 3em;
    --logo-size: 64px;
    --container-display-type: flex;
    --foreground-color: #FFFFFF;
}

@media only screen and (max-width: 850px) {
    :root {
        --header-height: 60px;
        --body-top-padding: 60px;
        --header-font-size: 1.6em;
        --logo-size: 32px;
        --container-display-type: block;
    }
}

body {
    margin: 0;
    text-align: center;
    padding-top: var(--body-top-padding);
    background-color: #f2f2f2;
    color: #2f2f2f;
}

.header {
    background-color: var(--foreground-color);
    width: calc(100% - 40px);
    box-shadow: 0px 2px 15px -5px rgba(142, 129, 122, 1);
    -webkit-box-shadow: 0px 2px 15px -5px rgb(142, 129, 122);
    position: fixed;
    top: 0;
    height: var(--header-height);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.header-logos {
    height: var(--logo-size);
    width: var(--logo-size);
}

h1, h2 {
    font-family: 'Amatic SC';
    font-size: var(--header-font-size);
    margin: 0px;
}

.container {
    display: var(--container-display-type);
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}